<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.17.1" targetFramework="net461" />
  <package id="DocumentFormat.OpenXML.Extensions" version="1.0.0" targetFramework="net461" />
  <package id="ncalc" version="1.3.8" targetFramework="net461" />
</packages>